<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

    <Properties>
        <Property name="log-path">../logs</Property>
        <Property name="log-pattern">%d [%t] [%-6p] %l: %m%n</Property>
    </Properties>

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="${log-pattern}"/>
        </Console>
        <RollingRandomAccessFile name="RollingRandomAccessFileAppender"
                                 fileName="${log-path}/app.log"
                                 filePattern="${log-path}/app-%d{yyyy-MM-dd-hh-mm}-%i.log.gz" immediateFlush="false" append="false">
            <PatternLayout pattern="${log-pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <Logger name="com.test.project" level="INFO" includeLocation="true" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
        </Logger>

        <Root level="INFO" includeLocation="true" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
        </Root>
    </Loggers>
</Configuration>